{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "globals": {
    "__DEV__": false,
    "STATIC" : false
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true,
      "allowTernary": true,
    }],
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"]
    }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    // "jsx-a11y/label-has-for": "off",
  }
}
